<% n = 0 %>
<ul>
	<% @results.each do |result| %>
	<br>
  <% n += 1 %>
  <div id=<%= "#{n}" %>
  	<li>
  		<%= image_tag(result.thumb) %>
      <h3><%= result.title %> (<%= result.year %>)</h3>
  		<%= result.label %> 
      <%= result.format %>
      <%= result.barcode.first %>
      <%= link_to "I'm listening to this!", new_record_path, record: result.id, class: "btn btn-success add-record" %>
  	</li>
 	<br>
	<% end %>
</ul>
